@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:wght@300;400;500;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  color: #bc6455;
}

header {
  width: 100%;
  height: 10vh;
  top: 0;
  background-color: white;
  z-index: 99;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  margin-right: 2em;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  width: 3em;
}

header nav .logo p {
  font-family: 'Playfair Display';
  font-size: 1.3em;
}

header nav .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40vw;
}

header nav .contact .phone-number span {
  color: #6b6b6b;
}

header nav .contact .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .contact .social-media ul li {
  list-style: none;
  margin-left: 1em;
}

header nav .menu {
  text-transform: uppercase;
  font-weight: 500;
}

header nav .menu i {
  margin-left: 0.3em;
  color: #6b6b6b;
}

header nav .menu:hover {
  color: #bc6455;
  cursor: pointer;
}

header nav .menu:hover i {
  color: #bc6455;
}

main .section-1 img {
  width: 100%;
  height: 90vh;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

main .section-1 .decorative-square {
  position: absolute;
  top: 30vh;
  left: 20vw;
  width: 10em;
  height: 50vh;
  border: 5px solid #bc6455;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .section-1 .information p, main .section-1 .information h1, main .section-1 .information a {
  position: absolute;
  top: 30vh;
  left: 20vw;
  color: white;
  font-weight: bold;
}

main .section-1 .information .type {
  margin-top: 2em;
  margin-left: 2.5em;
}

main .section-1 .information h1 {
  margin-top: 1.3em;
  margin-left: 0.8em;
  font-size: 3em;
}

main .section-1 .information .see-details {
  margin: 16.5em 0 0 2.5em;
}

main .section-1 .information .see-details:hover {
  color: #bc6455;
}

main .section-2 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-2 .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section-2 .text-info {
  width: 30vw;
  margin-right: 5em;
}

main .section-2 .information p:first-child {
  text-transform: uppercase;
  color: #bc6455;
  font-weight: bold;
  position: relative;
  margin-bottom: 1em;
}

main .section-2 .information h2 {
  text-transform: capitalize;
  margin-bottom: 2em;
}

main .section-2 .information p {
  color: #6b6b6b;
}

main .section-2 .years {
  margin-top: 5.5em;
}

main .section-2 .years .decorative-square {
  width: 8em;
  height: 8em;
  border: 5px solid #bc6455;
  border-radius: 2px;
}

main .section-2 .years .decorative-square, main .section-2 .years .number-years, main .section-2 .years .text-years {
  position: absolute;
}

main .section-2 .years .number-years {
  font-size: 5em;
  font-weight: bold;
  margin: 0.1em 0 0 0.3em;
}

main .section-2 .years .text-years {
  text-transform: uppercase;
  color: #6b6b6b;
  margin-left: 11em;
  margin-top: 2em;
}

main .section-2 .image img {
  width: 25vw;
}

main .section-3 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-3 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-3 header nav {
  margin-left: 10em;
}

main .section-3 header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section-3 header nav ul button {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin-left: 1em;
}

main .section-3 header nav ul button:hover {
  cursor: pointer;
  color: #bc6455;
}

main .section-3 header nav ul li {
  list-style: none;
}

main .section-3 .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 2em;
}

main .section-3 .images .overlay-img {
  width: 30vw;
  height: 50vh;
  background-color: #bc6455;
  z-index: 99;
}

main .section-3 .images .overlay-img img {
  width: 30vw;
  height: 50vh;
  display: block;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main .section-3 .images .overlay-img .text-1 {
  text-transform: capitalize;
  position: absolute;
  margin-top: -8em;
  margin-left: 2em;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main .section-3 .images .overlay-img .info {
  display: none;
  color: white;
  margin-top: -13em;
  margin-left: 2em;
  margin-right: 2em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main .section-3 .images .overlay-img .subtext {
  position: absolute;
  margin-top: -2em;
  margin-left: 2em;
  color: white;
}

main .section-3 .images .overlay-img .subtext a:hover {
  color: #000000;
}

main .section-3 .images .overlay-img:hover img {
  opacity: 0.5;
}

main .section-3 .images .overlay-img:hover .text-1 {
  margin-top: -20em;
}

main .section-3 .images .overlay-img:hover .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

main .section-3 .images .overlay-img:hover .subtext {
  margin-top: 1em;
}

main .section-3 .selector {
  text-align: center;
}

main .section-3 .selector button {
  background: none;
  border: none;
}

main .section-3 .selector button i {
  color: #6b6b6b;
}

main .section-3 .selector button i:hover {
  color: #bc6455;
}

main .section-3 .selector button .first-select {
  color: #bc6455;
}

main .section-3 .selector button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */